body {
  font-family: 'Rockwell', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  padding: 24px;
  background: linear-gradient(100deg, #8bc7e1 25.87%, #edea89 100%);
  text-align: center;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px 0 25px 0;

 
  background: linear-gradient(to right, #194252,  #8ae2e5);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.search-form > input {
  width: 300px;
  height: 30px;
  padding: 5px 5px 5px 15px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.search-form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  width: 80px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-form > button:hover,
.search-form > button:focus {
  background-color: rgb(185, 224, 228);
}

.load-more {
  width: 140px;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  background-color: gainsboro;
}

  .load-more:hover,
  .load-more:focus {
    color: black;
    background-color: rgb(185, 224, 228);
  }

  .load-more{
    display: none;
  } 
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    margin-top:100px;
  }

  .photo-card {
    width:300px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
  }

  .photo-card:hover {
    cursor: pointer;
    box-shadow: 0px 32px 40px 7px  rgb(185, 224, 228);
  }

  .photo-image {
    width:300px;
    height: 200px;
    object-fit: cover;
  }

   .info {
    display: flex;
    justify-content: space-between;
    border: 2px solid #eee;
    border-top: none;
  }

  .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  } 

   
